.container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    gap:10px;
    height: auto;
    justify-content: center;    

}

.main__line {
    width:300px;
    background-color: var(--grey);
    min-height: 20px;

}

.info__line {
    background-color: var(--blue);
    width: 10px;
    height: 100%;
    text-align: center;
    position: relative;
}

span.time__text{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
}


@media (max-width:450px) {
    .container {
        flex-wrap: wrap;
        max-width: 100%;
    }

}
