.container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    gap:10px;
    height: auto;
    justify-content: center;    
}

.main__line {
    max-width:100%;
    width:300px;
    min-height: 20px;
    background-color: var(--grey);
}

.info__line {
    background-color: var(--blue);
    width: 10px;
    height: 100%;
    text-align: center;
    position: relative;
}

span.time__text{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
